In [ ]:
Table of Content 
1.import libraries 
2.importing data 
3.checking the dimensions of the data 
4.merging two dataframes
5.Exporting the Data in PKL format

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## importing data

In [5]:
df_ords_prior=pd.read_csv(r'/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col = False)

In [11]:
df_ords =pd.read_csv(r'/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis/02 Data/Prepared Data/df_ords_checked.csv', index_col = False)

## checking the dimensions of the data

df_ords_prior's dimensions

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [10]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

df_ords's dimensions

In [12]:
df_ords.shape

(3421083, 9)

In [13]:
df_ords.describe()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [14]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,customer_type
0,0,0,2539329,1,1,2,8,NaN,new_customer
1,1,1,2398795,1,2,3,7,15.0,returning_customer
2,2,2,473747,1,3,3,12,21.0,returning_customer
3,3,3,2254736,1,4,4,7,29.0,returning_customer
4,4,4,431534,1,5,4,15,28.0,returning_customer

## merging two dataframes

In [24]:
#merging the new data frame with the ords data frame 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id',indicator = True)

In [25]:
#checking for a full match 
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [38]:
#merging 
#( how = 'outer': Merging like this will combine all the observations and show you the real merge rate )
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner',indicator = True)

In [39]:
df_merged_large.shape

(32434489, 13)

In [40]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,customer_type,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,new_customer,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,new_customer,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,new_customer,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,new_customer,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,new_customer,26405,5,0,both

In [41]:
#checking for a full match 
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

->After using this method to double-check your merge, you can see that you donâ€™t actually have a full match.

## Exporting the Data in PKL format

In [29]:
path = '/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis'

In [42]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))