Table of Content
1.Importing libraries 
2.Importing the data 
3.creating a price_label function 
4.checking the data 
5.using Loc Function to create flags (Mid-range product or low-range product)
6.Trying the loc function with the whole data set 
7.finding out on which day most orders are placed
8.creating new column : busiest day
9.EXERCISE 4.7
 9.1 creating new column 'busiest_days' (Task 2)
 9.2 Accuracy check (Task 3)
 9.3 Creating new colum “busiest_period_of_day" (Task 4)
 9.4 checking the results (Task 5)
 9.5 Exporting the data (Task 6)

## Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import os

## Importing the data

In [2]:
ords_prods_merge=pd.read_pickle(r'/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_2.pkl')

In [3]:
#creating a subset of the first million rows 
df = ords_prods_merge[:1000000]

## creating a price_label function

In [4]:
# defining the function 
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [5]:
#calling the function 
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_62595/3381248860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

## checking the data

In [6]:
#checking the df
df

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,customer_type,add_to_cart_order,reordered,_merge,price_range
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,returning_customer,5,0,both,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,returning_customer,1,1,both,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,returning_customer,20,0,both,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new_customer,10,0,both,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,returning_customer,11,1,both,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2078,Unsalted Pure Irish Butter,36,16,13.5,2280887,102527,25,6,14,6.0,returning_customer,1,1,both,Mid-range product
999996,2078,Unsalted Pure Irish Butter,36,16,13.5,3310791,102530,1,4,17,NaN,new_customer,13,0,both,Mid-range product
999997,2078,Unsalted Pure Irish Butter,36,16,13.5,1704867,102530,2,2,17,30.0,returning_customer,4,1,both,Mid-range product
999998,2078,Unsalted Pure Irish Butter,36,16,13.5,629818,102530,3,6,18,4.0,returning_customer,3,1,both,Mid-range product
999999,2078,Unsalted Pure Irish Butter,36,16,13.5,2328893,102544,5,5,9,1.0,returning_customer,1,0,both,Mid-range product

In [7]:
# checking rows and columns 
df.shape

(1000000, 16)

In [8]:
#counting the values 
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [9]:
#checking whats the most expensive prdouct of the subset 
df['prices'].max()

24.5

# using Loc Function to create flags (Mid-range product or low-range product)

In [10]:
#creating some conditions 
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_62595/3354430968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_62595/3354430968.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High-range product' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [12]:
#counting the values 
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
NaN                   338018
High-range product      9344
Name: count, dtype: int64

In [13]:
#counting the values 
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
NaN                   338018
High-range product      9344
Name: count, dtype: int64

## Trying the loc function with the whole data set

In [15]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_62595/2390437552.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High-range product' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [18]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [19]:
#counting the values 
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
NaN                   21208222
Low-range product     10126321
Mid-range product       652638
High-range product      417678
Name: count, dtype: int64

## finding out on which day most orders are placed

In [20]:
#which day do most orders take place? finding this out by printing the frequency of the “orders_day_of_week” column
ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

## creating new column : busiest day

In [21]:
#use this information to create a new column, “busiest day,” that will contain one of three different values: 
#“Busiest day,” “Least busy,” and “Regularly busy.”

result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
#checking the first 20 rows 
result[:20]

['Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy']

In [23]:
#combining results with ords_prods_merge dataframe.
#creating a summary column for the busiest day of the week

ords_prods_merge['busiest_day']= result

In [24]:
#printing the frequency of this new column and cross-checking it with the frequency of “orders_day_of_week” 
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# EXERCISE 4.7

## creating new column 'busiest_days' (Task 2)

Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. 
Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two 
busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know 
the two slowest days. Create a new column for this using a suitable method.

In [25]:
#creating a new loop to label the busiest and least busiest days. saving the results in an empty list
new_result = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0 or value == 1:
        new_result.append("Busiest days")
    elif value == 4 or value == 3:
        new_result.append("Least busy")
    else:
        new_result.append("Regularly busy")

In [26]:
#adding the values to the new created column
ords_prods_merge['busiest_days']= new_result

In [27]:
#printing the frequency of this new column and cross-checking it with the frequency of “orders_day_of_week” 
ords_prods_merge['busiest_days'].value_counts(dropna=False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: count, dtype: int64

## Accuracy check (Task 3)

In [29]:
#Check the values of this new column for accuracy. 
#adding the values from the new_result:
12916111+ 11864412+7624336

32404859

In [30]:
#adding values from old result: 
22416875+ 6204182+ 3783802

32404859

## Creating new colum “busiest_period_of_day" (Task 4)

When too many users make Instacart orders at the same time, the app freezes. 
The senior technical officer at Instacart wants you to identify the busiest hours of the day. 
Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
Create a new column containing these labels called “busiest_period_of_day.”

In [34]:
#checking the frequency of the orders by hour of the day 
ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

-> there are 24 hours. dividing it through 8, there are 3 periods. first 8 entries are “Most orders", the next 8 
“Average orders” and the rest "Fewest Orders".

One approach : 
    
order_frequency = []

for value in ords_prods_merge["order_hour_of_day"]:
    if value == 10 or value == 11 or value == 14 or value == 15 or value ==13 or value == 12 or value ==  16 or value == 9:
        order_frequency.append("Most orders")
    elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
        order_frequency.append("Average orders")
    else:
        order_frequency.append("Fewest orders")
        
-> this code works BUT when the underlying data changes, the results will not be valid anymore. 
Therefore I try another aproach, which creates out of the output from "ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)"
a list which is saved in th variable called "hours_by_orders". This way the code will be useful even if the sales 
 will change, because its based on the indexes.

In [ ]:
#I want the values from the left side(hours) from the output from following function : ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)
#as an list. Save it in the variable hours_by_orders
hours_by_orders=ords_prods_merge['order_hour_of_day'].value_counts(dropna=False).index.to_list()

In [62]:
#I take the first 8 values from the list and save it in an variable 
Most_ordered_hours=hours_by_orders[0:8]

In [59]:
#I take the middle 8 values from the list and save it in an variable 
Avg_ordered_hours=hours_by_orders[8:16]

In [60]:
#I take the last 8 values from the list and save it in an variable 
fewest_ordered_hours=hours_by_orders[16:24]

In [63]:
#now i change the code so that it would work even if the unerlying order data would change

order_frequency = []

for value in ords_prods_merge["order_hour_of_day"]:
    if value in Most_ordered_hours:
        order_frequency.append("Most orders")
    elif value in Avg_ordered_hours:
        order_frequency.append("Average orders")
    else:
        order_frequency.append("Fewest orders")

In [36]:
#Create a new column containing these labels called “busiest_period_of_day.”
ords_prods_merge['busiest_period_of_day']= order_frequency

In [68]:
#checking the table with the new column and its entries 
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,customer_type,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,returning_customer,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,returning_customer,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,returning_customer,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new_customer,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,returning_customer,11,1,both,Mid-range product,Least busy,Least busy,Average orders

## checking the results (Task 5)

In [66]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [67]:
#checking the sum of the values
21118071+  9997651+  1289137

32404859

## Exporting the data (Task 6)

In [70]:
path = '/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis'

In [71]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))