In [ ]:
Table of Content 
1.importing libaries 
2.importing the data 
3.Task 2 
 3.1 checking the df 
 3.2 find the aggregated mean of the “order_number” column grouped by “department_id” 
4. Task 4 
 4.1 creating a loyalty flag for existing customers using the transform() and loc() functions 
5. Task 5 
 5.1 checking the basic statistics of the product prices for each loyalty category 
6. task 6 
 6.1 Creating a spending flag for each user
7.Task 7
 7.1 determining frequent versus non-frequent customers
8. task 8 
 8.1 Exporting the data

## Importing libraries

In [27]:
import pandas as pd
import numpy as np
import os

## Importing the data

In [28]:
ords_prods_merge=pd.read_pickle(r'/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge.pkl')

In [29]:
df=ords_prods_merge

# Task 2

## Checking the df

In [30]:
df.shape

(32404859, 19)

In [31]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,customer_type,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,returning_customer,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,returning_customer,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,returning_customer,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new_customer,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,returning_customer,11,1,both,Mid-range product,Least busy,Least busy,Average orders

In [32]:
# deleting an unuseful column 
df = df.drop(columns = ['_merge'])

In [33]:
#checking if deleting the column was succesful 
df.shape

(32404859, 18)

## find the aggregated mean of the “order_number” column grouped by “department_id”

In [34]:
#grouping the department_id 
df.groupby('department_id')

In [35]:
#performing a single aggregation 
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

-> How do the results for the entire dataframe differ from those of the subset?
the results dont differ too much from those of the subset. Some rows a nearly similar, some vary by some thousand 
(for example row 21 has in the subset a 2000 higher value)

# Task 4

## creating a loyalty flag for existing customers using the transform() and loc() functions (Task4)

In [36]:
#Split the data into groups based on the “user_id” column.
#Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
#Create a new column, “max_order,” into which you’ll place the results of your aggregation.
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_31390/658217433.py:4: FutureWarning: The provided callable <function amax at 0x7fea2a3383a0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

#check out the results using the head() function:
df.head(15)

In [37]:
#Deriving Columns with loc()
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_31390/1704609517.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [38]:
#checking the count of the different labels 
df['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [39]:
#checking first 20 rows of the loyalty flag colum
df['loyalty_flag'].head(20)

0     Regular customer
1     Regular customer
2         New customer
3         New customer
4         New customer
5     Regular customer
6         New customer
7     Regular customer
8     Regular customer
9     Regular customer
10        New customer
11      Loyal customer
12      Loyal customer
13      Loyal customer
14    Regular customer
15    Regular customer
16    Regular customer
17    Regular customer
18    Regular customer
19    Regular customer
Name: loyalty_flag, dtype: object

## Task 5

## checking the basic statistics of the product prices for each loyalty category

In [40]:
#Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category 
#(Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of 
#products purchased by loyal customers differ from those purchased by regular or new customers.
loyalty_price_stats = df.groupby('loyalty_flag')['prices'].describe()

In [41]:
print(loyalty_price_stats)

                       count       mean         std  min  25%  50%   75%  \
loyalty_flag
Loyal customer    10284093.0  10.386336  328.017787  1.0  4.2  7.4  11.2
New customer       6243990.0  13.294670  597.560299  1.0  4.2  7.4  11.3
Regular customer  15876776.0  12.495717  539.720919  1.0  4.2  7.4  11.3

                      max
loyalty_flag
Loyal customer    99999.0
New customer      99999.0
Regular customer  99999.0

-> The regular customers spend most money when buying products. New customers though have the highest mean, 
followed by regular customers and then loyal customers.

## Task 6

## Creating a spending flag for each user

looking at the prices of the items people are buying. Create a spending flag for each user based on the average 
price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a
“High spender.”

In [42]:
# Calculate the mean price of products purchased by each user
df['user_mean_price'] = df.groupby('user_id')['prices'].transform('mean')

In [ ]:
df.head(20)

In [43]:
# Create a spending flag column based on mean price criteria using loc
df.loc[df['user_mean_price'] < 10, 'spending_type'] = 'Low spender'
df.loc[df['user_mean_price'] >= 10, 'spending_type'] = 'High spender'

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_31390/2260650027.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['user_mean_price'] < 10, 'spending_type'] = 'Low spender'

In [ ]:
df.head(20)

# Task 7

## determining frequent versus non-frequent customers

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. 

Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [45]:
# Calculate the median order frequency by each user
df['order_frequency'] = df.groupby('user_id')['days_since_last_order'].transform('median')

In [47]:
#checking the result column 
print(df['order_frequency'].head(10))

0     8.0
1     8.0
2     8.0
3     9.0
4     9.0
5    11.0
6    20.0
7     6.0
8    10.0
9    10.0
Name: order_frequency, dtype: float64

In [50]:
# Create a frequency flag column based on order_frequency using loc
df.loc[df['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df.loc[df['order_frequency'] >10 & (df['order_frequency']<= 20),'frequency_flag'] = 'Regular customer'
df.loc[df['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

/var/folders/3b/250d_ncn2cb7rf34jj9d3gl40000gq/T/ipykernel_31390/3450416809.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

## Task 8

## Exporting the data

In [55]:
path = '/Users/bente/careerfoundry /exercise 4/Ex.4_25-10-2023 Instacart Basket Analysis'

In [ ]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4.8.pkl'))